<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="X-Frame-Options" value="DENY" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="cache-control" value="no-cache, no-store, must-revalidate" />
                <add name="pragma" value="no-cache" />
                <add name="X-XSS-Protection" value="1" />
                <add name="Content-Security-Policy" value="default-src https: 'unsafe-inline' 'unsafe-eval'" />
                <add name="Referrer-Policy" value="strict-origin" />
                <add name="Feature-Policy" value="payment 'none'" />
                <remove name="X-Powered-By" />
                <remove name="Server" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
