@model Dfc.DiscoverSkillsAndCareers.WebApp.Models.IndexViewModel;
@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<div class="text-center">
    <h1 class="display-4">Index @Model.SessionId</h1>
    <a href="/start">Start</a>
</div>
