resources:
- repo: self
queue:
  name: Hosted VS2017
  demands: 
  - npm
  - node.js

steps:
- task: PublishPipelineArtifact@0
  displayName: 'Publish Pipeline Artifact'
  inputs:
    artifactName: webappDir

    targetPath: src/Dfc.DiscoverSkillsAndCareers.WebApp/


- task: DotNetCoreInstaller@0
  displayName: 'Use .NET Core sdk 2.2.102'
  inputs:
    version: 2.2.102


- task: Npm@1
  displayName: 'npm install'
  inputs:
    workingDir: src/Dfc.DiscoverSkillsAndCareers.WebApp/

    verbose: false


- task: Gulp@0
  displayName: 'gulp prod'
  inputs:
    gulpFile: src/Dfc.DiscoverSkillsAndCareers.WebApp/Gulpfile.js

    targets: prod


- task: DotNetCoreCLI@2
  displayName: 'dotnet publish'
  inputs:
    command: publish

    publishWebProjects: false

    projects: 'src\Dfc.DiscoverSkillsAndCareers.WebApp\Dfc.DiscoverSkillsAndCareers.WebApp.csproj'

    arguments: '--configuration Release --output $(Build.ArtifactStagingDirectory)\webapp'

    zipAfterPublish: false

    modifyOutputPath: false


- task: PublishPipelineArtifact@0
  displayName: 'Publish Pipeline Artifact'
  inputs:
    artifactName: webapp

    targetPath: '$(Build.ArtifactStagingDirectory)\webapp'

- task: DotNetCoreCLI@2
  displayName: 'dotnet publish'
  inputs:
    command: publish

    publishWebProjects: false

    projects: 'src\Dfc.DiscoverSkillsAndCareers.FunctionApp\Dfc.DiscoverSkillsAndCareers.FunctionApp.csproj'

    arguments: '--configuration Release --output $(Build.ArtifactStagingDirectory)\functionapp'

    zipAfterPublish: false

    modifyOutputPath: false


- task: PublishPipelineArtifact@0
  displayName: 'Publish Pipeline Artifact'
  inputs:
    artifactName: functionapp

    targetPath: '$(Build.ArtifactStagingDirectory)\functionapp'

