resources:
 repositories:
 - repository: self

jobs:
- job: BuildArtefacts
  displayName: 'Build Artefacts'
  pool: 
   name: Continuous Integration 02 - SSD - 160ACU
   demands: 
   - npm
   - node.js

  steps:
  - task: DotNetCoreInstaller@0
    displayName: 'Use .NET Core sdk 2.2.102'
    inputs:
     version: 2.2.102

  - task: Npm@1
    displayName: 'npm install'
    inputs:
     workingDir: src/Dfc.DiscoverSkillsAndCareers.WebApp/
     verbose: false

  - task: Gulp@0
    displayName: 'gulp prod'
    inputs:
     gulpFile: src/Dfc.DiscoverSkillsAndCareers.WebApp/Gulpfile.js
     targets: prod

  - task: DotNetCoreCLI@2
    displayName: 'dotnet publish web app'
    inputs:
     command: publish
     publishWebProjects: true
     projects: 'src\Dfc.DiscoverSkillsAndCareers.WebApp\Dfc.DiscoverSkillsAndCareers.WebApp.csproj'
     arguments: '--configuration Release --output $(Build.ArtifactStagingDirectory)\webapp'
     zipAfterPublish: true
     modifyOutputPath: false

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: webapp'
    inputs:
     pathtoPublish: $(build.artifactstagingdirectory)/webapp
     artifactName: webapp
     publishLocation: container

  - task: DotNetCoreCLI@2
    displayName: 'dotnet publish function apps'
    inputs:
     command: publish
     publishWebProjects: false
     projects: 'src/FunctionApps/**/*.csproj'
     arguments: '--configuration Release --output $(Build.ArtifactStagingDirectory)/functionapps'
     zipAfterPublish: true
     modifyOutputPath: true

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: functionapps'
    inputs:
     pathtoPublish: $(build.artifactstagingdirectory)/functionapps
     artifactName: functionapps
     publishLocation: container

  - task: DotNetCoreCLI@2
    displayName: 'dotnet publish support app'
    inputs:
     command: publish
     publishWebProjects: false
     projects: 'src/support/**/*.csproj'
     arguments: '--configuration Release --output $(Build.ArtifactStagingDirectory)/supportapp'
     zipAfterPublish: false
     modifyOutputPath: true

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: supportapp'
    inputs:
     pathtoPublish: $(build.artifactstagingdirectory)/supportapp
     artifactName: supportapp
     publishLocation: container

  - task: CopyFiles@2
    displayName: 'Copy Files to: $(build.artifactstagingdirectory)/Azure'
    inputs:
     sourceFolder: 'Resources'
     contents: '**'
     targetFolder: '$(build.artifactstagingdirectory)/Azure'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: azuretemplates'
    inputs:
     pathtoPublish: $(build.artifactstagingdirectory)/Azure
     artifactName: azuretemplates
     publishLocation: container

  - task: CopyFiles@2
    displayName: 'Copy Files to: $(build.artifactstagingdirectory)/Data'
    inputs:
     sourceFolder: 'data'
     contents: '**'
     targetFolder: '$(build.artifactstagingdirectory)/Data'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: data'
    inputs:
     pathtoPublish: $(build.artifactstagingdirectory)/Data
     artifactName: data
     publishLocation: container

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: tests'
    inputs:
     pathtoPublish: src/Dfc.DiscoverSkillsAndCareers.WebApp/
     artifactName: tests
     publishLocation: container