.app-controls {
  @extend %clearfix;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: govuk-spacing(3);

  .app-button {
    width: calc(50% - 20px);
    float: left;
    box-sizing: border-box;
    margin-bottom: 0;
    flex: 1 0 auto;
  }

  .app-button {
    float: right;
  }

  @include govuk-media-query($from: desktop) {
    text-align: right;
    display: block;

    .app-button  {
      width: auto;
      float: none;
      margin: 0 0 0 govuk-spacing(3);
    }
  }

  &--left {
    @include govuk-media-query($from: desktop) {
      text-align: left;

      .app-button {
        margin-left: 0;
      }
    }
  }
}
