#global-header.with-proposition {
  .header-wrapper {
    .header-proposition {
      width: 100% !important;
      #proposition-links {
        .active {
          a {
            color: #2b8cc4;
          }
        }
      }
      .phase-tag {
        margin: 0 0 0 4px;
        top: -6px;
        font-size: 10px;
      }
    }
  }
}

#global-header {
  background-color: #0b0c0c;
  width: 100%;
  @extend %clearfix;

  .header-proposition {
    .content {
      margin: 0 15px;
    }

    #proposition-name {
      font-family: nta,Arial,sans-serif;
      text-transform: none;
      font-size: 18px;
      line-height: 1.2;
      font-weight: 700;
      color: #fff;
      text-decoration: none;
      @media (min-width: 641px) {
        font-size: 24px;
        line-height: 1.25;
      }
    }

    #proposition-menu {
      margin-top: 5px;
    }

  a.menu {
      font-family: nta,Arial,sans-serif;
      font-weight: 400;
      text-transform: none;
      font-size: 14px;
      line-height: 1.14286;
      color: #fff;
      display: block;
      float: right;
      text-decoration: none;
      padding-top: 6px;

      @media (min-width: 641px) {
        font-size: 16px;
        line-height: 1.25;
      }

      @media (min-width: 769px) {
        display: none;
      }
    }
  }

  .header-wrapper {
    @extend %clearfix;
    background-color: #0b0c0c;
    max-width: 990px;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 8px;
    @media (min-width: 641px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .header-proposition #proposition-links {
    @extend %clearfix;
    clear: both;
    margin: 2px 0 0;
    padding: 0;
    a {
      color: #fff;
      text-decoration: none;
      font-family: nta,Arial,sans-serif;
      font-weight: 700;
      text-transform: none;
      font-size: 12px;
      line-height: 1.25;
    }
    li {

      float: left;
      width: 50%;
      padding: 3px 0;
      border-bottom: 1px solid #2e3133;
    }
    @media (min-width: 769px) {
      a {
        font-size: 14px;
        line-height: 23px;
      }
      li {
        display: block;
        width: auto;
        padding: 0 15px 0 0;
        border-bottom: 0;
      }
    }
    @media (min-width: 641px) and (min-width: 769px) {
    a {
      font-size: 16px;
      line-height: 1.25;
    }
  }

}


}
