.app-masthead {
  background-color: $app-turquoise;
  color: govuk-colour('white');
  margin-top: -10px;
  padding: 10px 0 20px 0;
  @include govuk-media-query($from: desktop) {
    padding: 10px 0 30px 0;
  }

  .govuk-phase-bannertag, // legacy version support
  .govuk-phase-banner__content__tag {
    background-color: govuk-colour('white');
    color: $govuk-brand-colour;
  }

  .govuk-phase-banner {
    padding-top: 0;
  }

  a:link,
  a:visited,
  a:hover,
  a:active,
  a:focus,
  .govuk-body-l,
  .govuk-phase-banner__content,
  .govuk-breadcrumbs {
    color: govuk-colour('white');
  }

  .govuk-back-link {
    border-color: govuk-colour('white');
  }

  .govuk-body-l {
    margin-bottom: 0;
  }

  .govuk-grid-row {
    margin-top: 20px;
    @include govuk-media-query($from: desktop) {
      margin-top: 30px;
    }
  }

  .govuk-breadcrumbs__list-item {
    &:before,
    &:after {
      border-color: govuk-colour('white');
    }
  }

}

.app-masthead__title {
  color: govuk-colour('white');
  margin-bottom: govuk-spacing(6);
}
