.ncs-progress {
  float: left;
  width: 100%;
  margin-bottom: govuk-spacing(3);
}

.ncs-progress__bar {
  display: block;
  height: 10px;
  width: calc(100% - 70px);
  float: right;
  position: relative;
  background-color: $govuk-border-colour;
  border-radius: 5px;
  overflow: hidden;
  top: 8px;
  @include govuk-media-query($from: desktop) {
    top: 16px;
  }

  span {
    background-color: govuk-colour('green');
    height: 10px;
    display: block;
    width: 50%;
    border-radius: 5px;
  }
}

.ncs-progress__count {
  color: $govuk-secondary-text-colour;
  display: block;
  font-family: sans-serif;
  width: 70px;
  float: left;

  b {
    color: govuk-colour('green');
    margin-bottom: 4px;
    display: block;
  }
}

.ncs-progress--complete {
  .ncs-progress__count {
    color: govuk-colour("white");
  }

  .ncs-progress__bar span {
    background-color: govuk-colour("white");
  }
}
