.app-question {
  .govuk-radios__label {
    padding-top: 11px; // vertically align labels to radio buttons
  }
}

.app-question-progress {
  @include govuk-media-query($from: 800px) {
    margin-bottom: govuk-spacing(5);
  }
}


.app-question--short {

  .app-error + & {
    border-left: 5px solid $govuk-error-colour;
    padding-left: govuk-spacing(5);
  }

  .app-question__answer {
    margin-bottom: govuk-spacing(3);
  }

  .govuk-radios__item {
    clear: both;
  }

  @include govuk-media-query($from: 800px) {
    margin-bottom: govuk-spacing(8);
    clear: both;
    position: relative;
    display: table;
    width: 100%;

    .govuk-radios__item {
      width: auto;
      clear: both;

      &:nth-child(3) {
        // Prevent 'it depends' from wrapping into two lines
        white-space: nowrap;
      }
    }

    .govuk-radios {
      text-align: center;
      position: relative;
    }

    .govuk-radios__item {
      position: relative;
      padding-left: 0;
      width: 20%;
      display: block;
      text-align: center;
      float: left;
      clear: none;
      margin: 0;

      &:last-child {
        margin-right: 0;
      }
    }

    .govuk-radios__input + .govuk-radios__label {

      &::before,
      &::after {
        left: calc(50% + 2px);
        transform: translateX(-50%);
      }
    }

    .govuk-radios__label {
      padding-top: 3em;
      padding-left: 5px;
      padding-right: 5px;
    }

    .govuk-error-message {
      margin-bottom: 0;
    }

    .app-question__question,
    .app-question__answer {
      display: table-cell;
      vertical-align: middle;
      width: 40%;
      position: relative;
      height: 156px;
    }

    .app-question__answer {
      width: 60%;
    }

    .govuk-fieldset__heading {
      padding-right: govuk-spacing(5);

    }

    .app-question__question {
      border-right: 1px solid govuk-colour('black');
    }

    .govuk-form-group {
      margin-bottom: 0;
    }

  }
}

.app-question--long {
  // margin-top: -20px;

  .app-question__answer {
    @include govuk-responsive-margin(6, "bottom");
    @include govuk-responsive-margin(6, "top");
  }

  @include govuk-media-query($from: desktop) {
    .app-question__question {
      @include govuk-responsive-margin(6, "bottom");
    }

    .govuk-radios__item {
      width: auto;
      @include govuk-responsive-margin(6, "right");
    }
  }
}

.app-controls {
  .app-button {
    width: 100%;
  }

  .app-button,
  .app-button--outline {
    @include govuk-media-query($from: desktop) {
      margin-left: govuk-spacing(3);
    }
  }

  .app-button--outline {
    display: block;
    text-align: center;
    margin-bottom: govuk-spacing(3);
    line-height: 1;
    padding-top: 10px;
    padding-bottom: 7px;
    @include govuk-media-query($from: desktop) {
      display: inline-block;
    }
  }
}

