.app-sendresults {
    background: govuk-colour("grey-3");
    @include govuk-responsive-margin(6, "bottom");
    padding: govuk-spacing(6);
    clear: both;
    p {
        margin-bottom: 0;
    }
    a {
        width: 100%;
    }
}
