.app-sendresults {
  background: govuk-colour('grey-3');
  border-bottom: 3px solid govuk-colour('grey-1');
  @include govuk-responsive-margin(9, 'bottom');
  padding: govuk-spacing(3);
  @include govuk-media-query($from: desktop) {
    padding: govuk-spacing(6);
  }
  clear: both;
  position: relative;

  .govuk-heading-m {
    @include govuk-responsive-margin(2, 'bottom');
  }

  .app-sendresults__text {
    width: 60%;
  }

  .app-sendresults__button {
    width: 40%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding: 0 govuk-spacing(3);
    box-sizing: border-box;
    @include govuk-media-query($from: desktop) {
      padding: 0 govuk-spacing(6);
    }
  }

  p {
    margin-bottom: 0;
  }

  a {
    width: 100%;
    margin: 0;
  }
}

.app-printcode {
  @include govuk-responsive-margin(9, 'bottom');
  clear: both;
  position: relative;
  display: none;

  .govuk-heading-m {
    @include govuk-responsive-margin(2, 'bottom');
  }

  p {
    margin-bottom: 0;
  }
}
