$govuk-global-styles: true;

@import 'node_modules/govuk-frontend/all';

$app-purple: #8c0052;
$app-purple-hover: #A73C7B;
$app-turquoise: #207E77;
$app-turquoise-hover: #48948E;
$app-text-light: #646C70;

@import 'progress';
@import 'masthead';
@import 'sidebar';
@import 'yourreference';
@import 'resumepanel';
@import 'savepanel';
@import 'question';
@import 'controls';
@import 'sendresults';
@import 'payscale';
@import 'results';
@import 'footer';
@import 'cookies';


%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// sass-lint:disable-all
%visually-hidden { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
// sass-lint:enable-all

.visually-hidden {
  @extend %visually-hidden;
}

.govuk-header__container {
  border-bottom: transparent;
}

nav {
  .govuk-tag {
    margin: 0 0 0 4px;
    top: -6px;
    font-size: 10px;
    position: relative;
    padding: 2px 5px;
  }
}

// Change to header to change colour of blue border underneath header to green.
.govuk-header__container {
  border-bottom: 10px solid $app-turquoise;
  margin-bottom: -10px;
  @include govuk-media-query(desktop) {
    padding-top: 10px;
    padding-bottom: 1px;
  }
}

// Change to desktop header to fix margin/padding
.govuk-header__link--service-name {
  @include govuk-media-query(desktop) {
    margin-bottom: -1px;
  }
}

.govuk-header__navigation {
  @include govuk-media-query(desktop) {
    margin: 0 0 4px;
  }
}

.govuk-phase-bannertag {  // legacy version support
  margin-right: 10px;
}

.govuk-phase-bannertag,  // legacy version support
.govuk-phase-banner__content__tag {
  background-color: $govuk-brand-colour;
  color: govuk-colour('white');
}

.app-back-to-top__icon {
  display: inline-block;
  width: .8em;
  height: 1em;
  margin-top: -5px;
  margin-right: 10px;
  vertical-align: middle;
}

.app-grey {
  &,
  .app-sidebar {
    background: govuk-colour('grey-4');
  }

  .text-light {
    color: $govuk-text-colour;
  }
}

.text-light {
  color: $govuk-secondary-text-colour;
}

.app-advisor-panel {
  margin-top: 5px;
}

.app-advisor-hours {
  margin: 19px 0;
}


/*** ERH Banner*******/
/*Banner ERH */
.global-bar.global-bar--warning.single-row-banner {
    background-color: #fd0;
    padding: 15px 0;
    overflow: hidden;
}

.global-bar-message-container {
    font-family: nta,Arial,sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    position: relative;
    max-width: 960px;

    @media(max-width: 641px) {
        top: 0% !important;
        margin-top: 0 !important;
    }
}

.global-bar-message .govuk-warning-text__icon {

    @media (max-width: 640px) {
        top: 0%;
        margin-top: 0;
    }
}

.global-bar-message .govuk-link.brand__color:link {
    color: #0b0c0c;
}

.global-bar-message strong.govuk-warning-text__text {
    display: inline-block;
    margin-right: 10px;

    @media(max-width: 641px) {
        display: block;
    }
}

.global-bar-message .ncs-banner__separator {
    margin-right: 10px;

    @media(max-width: 641px) {
        display: none;
    }
}

.global-bar-message .ncs-banner__text {
    margin-left: 0;

    @media(max-width: 641px) {
        margin-left: 50px;
        line-height: 30px;
    }
}

@media(max-width: 641px) {
    global-bar-message .ncs-banner__text {
        margin-left: 50px;
        line-height: 30px;
        display: block;
        line-height: 21px;
    }

    .global-bar-message .ncs-banner__separator {
        display: none;
    }

    .global-bar-message strong.govuk-warning-text__text {
        display: block;
    }

    .global-bar-message .govuk-warning-text__icon {
        top: 0%;
        margin-top: 0;
    }

    .global-bar-message-container {
        top: 0%;
        margin-top: 0;
    }
}