$govuk-global-styles: true;

@import 'node_modules/govuk-frontend/all';

$app-purple: #8c0052;
$app-purple-hover: #A73C7B;
$app-turquoise: #207E77;
$app-turquoise-hover: #48948E;
$app-text-light: #646C70;

@import 'progress';
@import 'masthead';
@import 'sidebar';
@import 'assessmentpicker';
@import 'yourreference';
@import 'resumepanel';
@import 'savepanel';
@import 'question';
@import 'controls';
@import 'sendresults';
@import 'payscale';
@import 'results';
@import 'footer';
@import 'legacy';

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// sass-lint:disable-all
%visually-hidden { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
// sass-lint:enable-all

.visually-hidden {
  @extend %visually-hidden;
}

.govuk-header__container {
  border-bottom-color: $app-turquoise;
}
.govuk-phase-banner {
  border-top: 10px solid #207e77;
}
.govuk-phase-bannertag {  // legacy version support
  margin-right: 10px;
}

.govuk-phase-bannertag,  // legacy version support
.govuk-phase-banner__content__tag {
  background-color: $govuk-brand-colour;
  color: govuk-colour('white');
}

.app-back-to-top__icon {
  display: inline-block;
  width: .8em;
  height: 1em;
  margin-top: -5px;
  margin-right: 10px;
  vertical-align: middle;
}

.app-grey {
  &,
  .app-sidebar {
    background: govuk-colour('grey-4');
  }

  .text-light {
    color: $govuk-text-colour;
  }
}

.text-light {
  color: $govuk-secondary-text-colour;
}

.app-advisor-panel {
  margin-top: 5px;
}
