@import 'node_modules/govuk-frontend/all';

.app-masthead,
.app-masthead__title {
  background: transparent;
  color: govuk-colour('black');
}

.app-masthead__title {
  margin-bottom: 20px;
}

.show-more,
.app-noprint,
.govuk-phase-banner,
.govuk-breadcrumbs,
.govuk-button,
.app-save-panel,
.app-sendresults,
.app-results-load-more,
.app-resume-panel,
.app-print-panel,
.app-results-cta,
.app-back-to-top,
.app-results-count,
.govuk-footer {
  display: none;
}

.govuk-main-wrapper {
  padding: 0 !important;
}

.app-page--results {
  .app-masthead__title {
    @extend %govuk-heading-l;
    margin-bottom: govuk-spacing(3);
  }

  .govuk-heading-l {
    border-bottom: 1px solid $govuk-border-colour;
    display: inline-block;
    clear: both;
    @extend %govuk-heading-m;
  }

  .app-intro {
    margin-bottom: govuk-spacing(7);
  }
}

.app-results {

  counter-reset: h2Counter;
  

  .app-results__item {
    margin-bottom: 0;
    display: block !important;
    counter-increment: h2Counter;
  }

  hr {
    display: none;
  }

  .app-result {
    display: block !important;
    padding: 0;
    margin: 0;
  }

  h2::before {
    content: counter(h2Counter) '. ';
  }

  .app-result__body,
  .app-result__header {
    background: transparent;
    color: govuk-colour('black');
    padding: 0;
    margin: 0;
  }
}

.app-long-results {
  // sass-lint:disable-all
  @extend .govuk-inset-text;
  // sass-lint:enable-all
  display: block;


  li {
    border: 0;
    margin: 0 !important;
    padding-bottom: 10px;
  }

  .app-long-results__item {
    display: block;
    width: 100%;
    border: 0;

    .embedded-fa-icon {
      display: none;
    }

    .result-detail,
    .result-description {
      height: auto !important;
      margin-bottom: 20px;
    }

    .result-meta,
    .govuk-heading-s {
      display: inline-block;
      font-weight: bold;
      border: 0;
      width: auto;
      float: none;
      margin: 0;
      font-size: govuk-px-to-rem(18);
    }

    .salary-min,
    .salary-max {
      width: auto;
      display: inline;
      margin: 0;
      float: none;

      .visually-hidden {
        display: inline !important;
        position: relative !important;
        height: auto;
        width: auto;
        clip: unset;
        overflow: auto;
      }
    }

    .result-meta {
      p {
        margin: 0;
      }

      .small {
        font-size: govuk-px-to-rem(18);
        display: inline;
      }
    }

    .range-bar,
    .level-min,
    .level-max {
      display: none;
    }
  }
}

.hidden-screen {
  display: initial;
}

.app-printcode {
  display: block;
}
