@import 'node_modules/govuk-frontend/all';

.app-masthead,
.app-masthead__title {
  background: transparent;
  color: govuk-colour('black');
}

.app-masthead__title {
  margin-bottom: 20px;
}

.govuk-phase-banner,
.govuk-breadcrumbs,
.govuk-button,
.app-save-panel,
.app-results-load-more,
.app-resume-panel,
.app-print-panel,
.app-results-cta,
.app-back-to-top,
.app-results-count,
.govuk-footer {
  display: none;
}

.govuk-main-wrapper {
  padding: 0 !important;
}

.app-page--results {
  .app-masthead__title {
    @extend %govuk-heading-l;
    margin-bottom: govuk-spacing(3);
  }

  .govuk-heading-l {
    border-bottom: 1px solid $govuk-border-colour;
    display: inline-block;
    clear: both;
    @extend %govuk-heading-m;
  }

  .app-intro {
    margin-bottom: govuk-spacing(7);
  }
}

.app-results {

  counter-reset: section;

  .app-results__item {
    margin-bottom: 0;
    display: block !important;
    counter-increment: section;
  }

  hr {
    display: none;
  }

  .app-result {
    display: block !important;
    padding: 0;
    margin: 0;
  }

  .govuk-heading-m {
    @extend %govuk-heading-s;

    &::before {
      content: counter(section) ". ";
    }
  }

  .app-result__body,
  .app-result__header {
    background: transparent;
    color: govuk-colour('black');
    padding: 0;
    margin: 0;
  }
}

.app-long-results {
  @extend .govuk-inset-text;
  display: block;
  li {
    border: 0;
    margin: 0 !important;
  }
  .app-long-results__item {
    display: block;
    width: 100%;
    border: 0;

    .embedded-fa-icon {
      display: none;
    }
    .govuk-heading-s {

    }
    .result-meta,
    .govuk-heading-s {
      display: inline-block;
      font-weight: bold;
      border: 0;
      width: auto;
      float: none;
      margin: 0;
      font-size: govuk-px-to-rem(18);
    }
    .salary-min,
    .salary-max {
      width: auto;
      display: inline;
      margin: 0;
      float: none;
    }
    .result-meta {
      p {
        margin: 0;
      }
      .small {
        font-size: govuk-px-to-rem(18);
        display: inline;
      }
    }
    .range-bar,
    .level-min,
    .level-max {
      display: none;
    }
  }
}

.hidden-screen {
  display: initial;
}
