{% from "header/macro.njk" import govukHeader %}
{% from "footer/macro.njk" import govukFooter %}  
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "skip-link/macro.njk" import govukSkipLink %}
{% from "input/macro.njk" import govukInput %}
{% from "panel/macro.njk" import govukPanel %}

<!DOCTYPE html>
<html lang="en" class="govuk-template no-js">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0b0c0c" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ pageTitle | default('National Careers Service') }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/print.css" media="print">
    <script>
      (function() {
        window.digitalData = new Object();
        window.digitalData = (function() {

            var _pageGroup = "{{ pageGroup }}";
            var _pageID = "{{ pageName }}";
            var _environment = window.location.href.indexOf('nationalcareersservice.direct.gov.uk') === -1 ? 'live' : 'dev';

            var _rqpath = window.location.pathname;
            var _clrpath = _rqpath.split('?');
            var _fldrelmnt = _clrpath[0].split('/');
            var _pgurl = window.location.hostname + _clrpath[0];

            var _referringURL = document.referrer;
            
            return {
                page: {
                    pageInfo: {
                        pageID: _pageID,
                        pageGroup: _pageGroup,
                        destinationURL: _pgurl,
                        pageInstanceID: _environment,
                        referringURL: _referringURL,
                        environment: _environment,
                    },
                }
            }
        })();
      }).call(this);
  
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NVTFD4N');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body class="govuk-template__body  app-page--{{ pageName }}" id="top">

    {{ govukSkipLink({
      text: "Skip to main content",
      href: "#content"
    }) }}

    {{ govukHeader({
      homepageUrl: "https://gov.uk/",
      serviceName: "National Careers Service",
      serviceUrl: "https://nationalcareers.service.gov.uk/"
    }) }}

    {% block main %}{% endblock %}

    {{ govukFooter({
      meta: {
        items: [
          {
            href: "mailto:Discover.SkillsCareers@education.gov.uk",
            text: "Help"
          },
          {
            href: "https://nationalcareers.service.gov.uk/help/cookies",
            text: "Privacy and Cookies"
          },
          {
            href: "https://nationalcareers.service.gov.uk/help/terms-and-conditions",
            text: "Terms and conditions"
          },
          {
            href: "/information-sources.html",
            text: "Information sources"
          }
        ]
      } 
    }) }}

  </body>
</html>
