{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/discover-skills-careers/">feedback</a> will help us to improve it.'
}) }}