<div class="app-sidebar app-resume-panel">
    <h3 class="govuk-heading-m">Resume your progress?</h3>
    <form method="post" action="https://__FunctionAppName__.azurewebsites.net/reload">

      <div class="app-resume-panel__input govuk-form-group">
        <label class="govuk-label" for="code">Your reference number</label>
        <input class="govuk-input govuk-input--error" id="code" name="code" type="text">
      </div>

      {{ govukButton({
        text: "Resume progress"
      }) }}

    </form>

</div>