<div class="app-sidebar app-resume-panel">
    <h3 class="govuk-heading-m">Resume your progress?</h3>
    <form method="post" action="https://__FunctionAppName__.azurewebsites.net/reload">

      {{ govukInput({
        label: {
          text: "Your reference number"
        },
        id: "code",
        name: "code"
      }) }}
      
      <span id="codeNotFoundMessage" style="display:none" class="">The code could not be found</span>
      
      {{ govukButton({
        text: "Resume progress"
      }) }}

    </form>

</div>