@model Dfc.DiscoverSkillsAndCareers.WebApp.Models.QuestionViewModel;
@{
    ViewData["Title"] = "Question";
    Layout = null;
}

<h1>Question</h1>

<a href="/q/2">Next</a>

<a href="/save-my-progress">Save Progress</a>

<a href="/finish">Finish</a>