<div class="app-sidebar app-advisor-panel">
  <h3 class="govuk-heading-m">Speak to an adviser</h3>
  <p class="govuk-body">
    Call <a class="govuk-link" href="tel:0800100900" rel="external">0800 100 900</a> to speak to an adviser.
  </p>
  <p class="govuk-body"> We're open:</p>
  <ul class="govuk-list">
    <li>
      <span class="govuk-body govuk-!-font-weight-bold">8am - 8pm</span> Monday - Friday
    </li>
    <li>
      <span class="govuk-body govuk-!-font-weight-bold">10am - 5pm</span> Saturday and <a class="govuk-link" href="https://www.gov.uk/bank-holidays">bank holidays</a>
    </li>
  </ul>
  <p class="govuk-body"> We're closed Sunday, Christmas Day and New Year's Day.</p>
  <p class="govuk-body"> We're also closed on 2 and 3 June 2022 for the spring bank holiday and the Platinum Jubilee bank holiday.</p>
  <h3 class="govuk-heading-m"> Webchat</h3>
  <p class="govuk-body">
    You can also <a href="/webchat/chat" class="govuk-link govuk-link--no-visited-state">use webchat</a>.
  </p>
  <p>Webchat is unavailable if you are using Internet Explorer 11 as your browser. To use webchat, try opening this page on a different web browser.</p>
</div>
