<div class="app-sidebar app-resume-panel app-related-items">
  <div class="app-sidebar app-resume-panel">
    <h2 class="govuk-heading-m">Next steps</h2>

    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a href="#" onclick="window.print(); return false;">
          Print<span class="visually-hidden"> your results</span>
        </a>
      </li>
      <li>
        <a href="/save-my-progress/" class="govuk-link govuk-link--no-visited-state">Email your results</a>
      </li>

      <li>
        <a href="https://nationalcareers.service.gov.uk/skills-assessment/skills-health-check/home" class="govuk-link govuk-link--no-visited-state">Take a skills health check</a>
      </li>

      <li>
        <a href="https://nationalcareers.service.gov.uk/skills-assessment" class="govuk-link govuk-link--no-visited-state">Return to skills assessment</a>
      </li>
    </ul>
  </div>
</div>