<div class="app-sidebar app-resume-panel">
  {% if pageName == 'home' %}
    <h2 class="govuk-heading-m">Return to an assessment</h2>
  {% else %}
    <h3 class="govuk-heading-m">Return to an assessment</h3>
  {% endif %}
    <form method="post" action="@Url.TryApplyCompositeRoute("/reload")">

    @if (Model.HasError) {
      <div>

        {{ govukErrorSummary({
          "titleText": "There is a problem",
          "errorList": [
              {
              "text": "@Model.ErrorMessage",
              "href": "#code"
              }
          ]
          }) }}

        </div>
      }

      <div class="app-resume-panel__input govuk-form-group @(Model.HasError ? "govuk-form-group--error" : string.Empty)">
        <label class="govuk-label" for="code">Enter your reference</label>
          @if (Model.HasError) {
            <span id="code-error" class="govuk-error-message">@Model.ErrorMessage</span>
          }
         <input class="govuk-input @(Model.HasError ? "govuk-input--error" : string.Empty)" id="code" name="code" type="text" @(Model.HasError ? "aria-describedby=code-error" : string.Empty) />
      </div>

      {{ govukButton({
        text: "Continue",
        classes: "app-button"
      }) }}

    </form>

</div>
