<div class="app-sidebar app-save-panel app-save-panel--{{ savepanelClass }}">
    <h3 class="govuk-heading-m">@Model.SaveProgressTitle</h3>
    <p class="govuk-body"><a href="/save-my-progress" class="govuk-link govuk-link--no-visited-state">@Model.SaveProgressText</a></p>
</div>