<div class="app-sendresults">
  <div class="app-sendresults__text">
    <h2 class="govuk-heading-m">Send my results</h2>
    <p>Choose to have your results sent by email, or use a reference code to see them.</p>
  </div>
  <div class="app-sendresults__button">
    <form action="/save-my-progress/">
      <button type="submit" class="govuk-button">Continue</button>
    </form>
  </div>
</div>

<div class="app-printcode">
  <h2 class="govuk-heading-m">Return to your results</h2>
  <p>Your reference number is <b>@Model.Code</b></p>
</div>
