<div class="app-sendresults">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Send my results</h2>
      <p>Choose to have your results sent by text or email. Or get a reference number.</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <a href="/save-my-progress/" class="govuk-button">Continue</a>
    </div>
  </div>
</div>