{% set pageName = 'home' %}
{% set pageTitle = 'Error' %}
{% set pageGroup = '' %}

{% extends "_base.njk" %}

{% block pre %}
@model Dfc.DiscoverSkillsAndCareers.WebApp.Models.IndexViewModel;
@{
    ViewData["Title"] = "Error";
    Layout = null;
}
{% endblock %}

{% block main %}

<main id="content" role="main">

    <div class="govuk-width-container">
        {% include "_phasebanner.njk" %}
    </div>
    
    <div class="govuk-width-container">
        <div class="govuk-grid-row govuk-!-margin-bottom-9 govuk-!-margin-top-7">
            <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
                <h1 class="govuk-heading-xl">Page not found</h1>
                <p class="govuk-body">
                    If you typed the web address or used a bookmark, check it is correct.
                </p>
                <p class="govuk-body">
                    If you pasted the web address, check you copied the entire address.
                </p>
                <p>
                    <p>If the web address is correct you can <a href="https://nationalcareers.service.gov.uk/contact-us">contact us</a> to get help using this service or call 0800 100 900, 8am to 10pm, 7 days a week.</p>
                </p>
            </div>
        </div>
    </div>

</main>

{% endblock %}
