{% set pageName = 'home' %}
{% set pageTitle = 'Discover your skills and careers' %}
{% set pageGroup = '' %}

{% extends "_base.njk" %}

{% block pre %}
@model Dfc.DiscoverSkillsAndCareers.WebApp.Models.IndexViewModel;
@{
    ViewData["Title"] = "Discover your skills and careers";
    Layout = null;
}
{% endblock %}

{% block main %}

<main id="content" role="main">

    <div class="app-masthead">
        <div class="govuk-width-container">

            {% include "_breadcrumbpanel.njk" %}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
                    <h1 class="govuk-heading-xl app-masthead__title">Discover your skills and careers</h1>
                </div>
            </div>

        </div>
    </div>

    <div class="govuk-width-container">
        <div class="govuk-grid-row govuk-!-margin-bottom-9 govuk-!-margin-top-7">
            <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
                <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
                <p class="govuk-body">Try again later.</p>
            </div>
        </div>
    </div>

</main>

{% endblock %}
