{% set pageName = 'home' %}
{% set pageTitle = 'Error | Discover your skills and careers | National Careers Service' %}
{% set pageGroup = '' %}

{% extends "_base.njk" %}

{% block pre %}
@model Dfc.DiscoverSkillsAndCareers.WebApp.Models.IndexViewModel;
@{
    ViewData["Title"] = "Error | Discover your skills and careers | National Careers Service";
    Layout = null;
}
{% endblock %}

{% block main %}

<main id="content" role="main">

    <div class="govuk-width-container">
        {% include "_phasebanner.njk" %}
        
        {% include "_breadcrumbpanel.njk" %}
    </div>

    <div class="govuk-width-container">
        <div class="govuk-grid-row govuk-!-margin-bottom-9 govuk-!-margin-top-7">
            <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
                <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
                <p class="govuk-body">Try again later.</p>
                <p>
                    <a href="https://nationalcareers.service.gov.uk/contact-us">Contact us</a> if you want to speak to one of our careers advisers.
                </p>
            </div>
        </div>
    </div>

</main>

{% endblock %}
