{% set pageName = 'resume-code' %}
{% set pageGroup = '' %}
{% set pageTitle = 'Check your email' %}

{% extends "_base.njk" %}

{% block pre %}
@model Dfc.DiscoverSkillsAndCareers.WebApp.Models.SaveProgressViewModel;
@{
    ViewData["Title"] = "Save progress";
    Layout = null;
}
{% endblock %}

{% block main %}

<main id="content" role="main">
    <div id="global-bar" class="global-bar global-bar--warning single-row-banner">
        <div class="global-bar-message-container">
            <div class="global-bar-message">
                <span class="govuk-warning-text__icon">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    Exam Results 2021
                </strong>
                <span class="ncs-banner__separator">|</span>
                <span class="ncs-banner__text">
                    <a class="govuk-link brand__color" href="https://nationalcareers.service.gov.uk/exam-results">Get help making choices after your results</a>
                </span>
            </div>
        </div>
    </div>
    <div class="govuk-width-container app-site-width-container">

        {% include "_phasebanner.njk" %}

        {% include "_breadcrumbpanel.njk" %}

    </div>

    <div class="govuk-main-wrapper govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-body">

                    <h1 class="govuk-heading-xl">Check your email</h1>

                    <p>An email has been sent to @Model.SentTo</p>

                    <p>Click on the link in the email to return to your assessment.</p>

                    <a href="/results" class="govuk-button">Return to assessment</a>

                    <p><a href="/">Back to start</a></p>

                </div>

            </div>
        </div>
    </div>
</main>

{% endblock %}
