{% set pageName = 'resume-code' %}
{% set pageGroup = '' %}
{% set pageTitle = 'Check your email' %}

{% extends "_base.njk" %}

{% block pre %}
@model Dfc.DiscoverSkillsAndCareers.WebApp.Models.SaveProgressViewModel;
@{
    ViewData["Title"] = "Save progress";
    Layout = null;
}
{% endblock %}

{% block main %}

<main id="content" role="main">

    <div class="govuk-width-container app-site-width-container">

        {% include "_phasebanner.njk" %}

        {% include "_breadcrumbpanel.njk" %}

    </div>

    <div class="govuk-main-wrapper govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-body">

                    <h1 class="govuk-heading-xl">Check your email</h1>

                    <p>An email has been sent to @Model.SentTo</p>

                    <p>Click on the link in the email to return to your assessment.</p>

                    <a href="/results" class="govuk-button">Return to assessment</a>

                    <p><a href="/">Back to start</a></p>

                </div>

            </div>
        </div>
    </div>
</main>

{% endblock %}
