{% set pageName = 'error' %}

{% extends "_base.njk" %}

{% block main %}

  <div class="govuk-width-container app-site-width-container">
    
    {% include "_phasebanner.njk" %}

    {{ govukBreadcrumbs({
      items: [
        {
          text: "Home: Discover your skills and careers",
          href: "[static_site_domain]"
        }
      ]
    }) }}      
    
  </div>

  <main id="content" role="main">
    <div class="govuk-width-container govuk-!-margin-bottom-9 govuk-!-margin-top-9">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Page not found</h1>
            <p class="govuk-body">
              If you typed the web address, check it is correct.
            </p>
            <p class="govuk-body">
              If you pasted the web address, check you copied the entire address.
            </p>
            <p class="govuk-body">
              If the web address is correct or you selected a link or button, <a href="#" class="govuk-link">contact the Tax Credits Helpline</a> if you need to speak to someone about your tax credits.
            </p>
        </div>
      </div>
    </div>
  </main> 

{% endblock %}