{% from "header/macro.njk" import govukHeader %}
{% from "footer/macro.njk" import govukFooter %}  
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "skip-link/macro.njk" import govukSkipLink %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>National Careers Service</title>
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body class="govuk-template__body  app-page--{{ pageName }}">

    {{ govukSkipLink({
      text: "Skip to main content",
      href: "#content"
    }) }}

    {{ govukHeader({
      homepageUrl: "#",
      serviceName: "National Careers Service",
      serviceUrl: "#"
    }) }}

    {% block main %}{% endblock %}

    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://nationalcareersservice.direct.gov.uk/about-us",
            text: "About Us"
          },
          {
            href: "https://nationalcareersservice.direct.gov.uk/contact-us",
            text: "Contact Us"
          },
          {
            href: "https://nationalcareersservice.direct.gov.uk/about-us/privacy-and-cookies",
            text: "Privacy and Cookies"
          },
          {
            href: "https://nationalcareersservice.direct.gov.uk/about-us/terms-and-conditions",
            text: "Terms and conditions"
          }
        ],
        html: 'Built by the <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency" class="govuk-footer__link">Education and skills fund agency (ESFA)</a>'
      } 
    }) }}

  </body>
</html>
