{% set pageName = 'finish' %}

{% extends "_base.njk" %}

{% block main %}

  <div class="govuk-width-container app-site-width-container">
    
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}

    {{ govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: "[static_site_domain]"
        },
        {
          text: "See job categories"
        }
      ]
    }) }}      
    
  </div>

  <main id="content" class="govuk-width-container" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukPanel({
          titleText: "Assessment complete",
          html: "Thank you"
        }) }}

        <h1 class="govuk-heading-m">What to do next</h1>
        <p class="govuk-body">On the next page you will see your results, which are based on the statements you have just responded to.</p>

        <form action="/results" method="post">
          <input type="hidden" name="sessionId" value="[session_id]" />
    
          <div>
            {{ govukButton({
              text: "View results",
              classes: "app-button",
              type: "submit"
            }) }}
          </div>
    
        </form>

      </div>

    </div>

  </main> 

{% endblock %}