{% set pageName = 'finish' %}

{% extends "_base.njk" %}

{% block main %}

  <div class="govuk-width-container app-site-width-container">
    
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}

    {{ govukBreadcrumbs({
      items: [
        {
          text: "Home: Discover your skills and careers",
          href: "[static_site_domain]"
        },
        {
          text: "See job categories"
        }
      ]
    }) }}      
    
  </div>

  <main id="content" role="main">
  
    <div class="govuk-width-container">
      <div class="govuk-grid-row govuk-!-margin-bottom-9 govuk-!-margin-top-8">
        <div class="govuk-grid-column-two-thirds">

          {{ govukPanel({
            titleText: "Assessment complete",
            html: "Thank you",
            classes: "govuk-!-margin-bottom-6"
          }) }}

          <h1 class="govuk-heading-m">What to do next</h1>
          <p class="govuk-body govuk-!-margin-bottom-5">On the next page you will see your results, which are based on the statements you have just responded to.</p>

          <form action="/results" method="post">
            <input type="hidden" name="sessionId" value="[session_id]" />
    
            {{ govukButton({
              text: "View results",
              classes: "app-button",
              type: "submit"
            }) }}
    
          </form>

        </div>
      </div>
    </div>

  </main> 

{% endblock %}