{% set pageName = 'finish' %}
{% set pageGroup = '' %}

{% extends "_base.njk" %}

{% block main %}

  <div class="govuk-width-container app-site-width-container">
    
    {% include "_phasebanner.njk" %}

    {{ govukBreadcrumbs({
      items: [
        {
          text: "Home: Discover your skills and careers",
          href: "/"
        },
        {
          text: "See job categories"
        }
      ]
    }) }}      
    
  </div>

  <main id="content" role="main">
    <div class="govuk-width-container">

      <div class="govuk-grid-row govuk-!-margin-bottom-9 govuk-!-margin-top-8">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">Information sources</h1>
          <h2 class="govuk-heading-l">Our occupational psychology subject matter experts</h2>
          <div class="govuk-body">
            <p>We worked with subject matter experts, SHL Group Limited, to create the ‘Discover your skills and careers’ service.</p>
            <p>We're constantly working to improve our information and your feedback is important to us. Please use <a href="https://www.smartsurvey.co.uk/s/discover-skills-careers/">this form</a> to send us your feedback.</p>
          </div>

        </div>
      </div>
    
    </div>
  </main> 

{% endblock %}