
{% from "header/macro.njk" import govukHeader %}
{% from "footer/macro.njk" import govukFooter %}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Understand Myself</title>
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body class="govuk-template__body app-page--questionss">

    {{ govukHeader({
      homepageUrl: "#",
      serviceName: "Understand Myself",
      serviceUrl: "#"
    }) }}

    <div class="govuk-width-container app-site-width-container">
      
      {{ govukPhaseBanner({
        tag: {
          text: "alpha"
        },
        html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBreadcrumbs({
        items: [
          {
            text: "Home",
            href: "/"
          },
          {
            text: "See job categories"
          }
        ]
      }) }}      
      
    </div>

    <main class="govuk-width-container">
      <div class="ncs-progress">
        <progress value="22" max="100" class="ncs-progress__bar"></progress>      
        <span class="ncs-progress__count">0%</span>
      </div>
    
      <div class="app-question">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "changed-name",
          name: "changed-name",
          fieldset: {
            legend: {
              text: "Have you changed your name?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Strongly agree"
            },
            {
              value: "no",
              text: "Agree"
            },
            {
              value: "no",
              text: "Disagree"
            },
            {
              value: "no",
              text: "Strongly disagree"
            }
          ]
        }) }}

      </div>
      
      <div class="app-controls">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            {{ govukButton({
              text: "This doesn’t apply to me",
              classes: "app-button--outline"
            }) }}
          </div>
          <div class="govuk-grid-column-one-half app-controls__next">
            {{ govukButton({
              text: "Continue",
              classes: "app-button",
              href: "/results.html"
            }) }}
          </div>
        </div>
    
      </main> 
      
    </div>

    {{ govukFooter({}) }}

  </body>
</html>
