<!DOCTYPE html>
  <head>
    <title></title>
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body class="govuk-template__body app-page--questionss">

    {% from "header/macro.njk" import govukHeader %}

    {{ govukHeader({
      homepageUrl: "#",
      serviceName: "Understand Myself",
      serviceUrl: "#"
    }) }}

    <div class="govuk-width-container app-site-width-container">

      {% from "phase-banner/macro.njk" import govukPhaseBanner %}
      {{ govukPhaseBanner({
        tag: {
          text: "alpha"
        },
        html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

      {{ govukBreadcrumbs({
        items: [
          {
            text: "Home",
            href: "#"
          },
          {
            text: "See job categories"
          }
        ]
      }) }}      
      
    </div>
    asds

    <div class="govuk-width-container">
      <div class="ncs-progress">
        <progress value="22" max="100" class="ncs-progress__bar"></progress>      
        <span class="ncs-progress__count">0%</span>
      </div>
    </div>

    {% from "footer/macro.njk" import govukFooter %}

    {{ govukFooter({}) }}

  </body>
</html>
