{% set pageName = 'questions' %}
{% extends "base.html" %}

{% block main %}

  <div class="govuk-width-container app-site-width-container">
    
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}

    {{ govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: "/"
        },
        {
          text: "See job categories"
        }
      ]
    }) }}      
    
  </div>

  <main class="govuk-width-container">
    <form action="[form_route]" method="post">
      <input type="hidden" name="sessionId" value="[session_id]" />
      <input type="hidden" name="questionId" value="[question_id]" />
      <input type="hidden" name="questionNumber" value="[question_number]" />
      <input type="hidden" name="questionText" value="[question_text]" />
      <input type="hidden" name="traitCode" value="[trait_code]" />

      <div class="ncs-progress">
        <progress value="22" max="100" class="ncs-progress__bar"></progress>      
        <span class="ncs-progress__count">0%</span>
      </div>
  
      <div class="app-question">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "selected_answer",
          name: "selected_answer",
          fieldset: {
            legend: {
              text: "[question_text]",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "StronglyAgree",
              text: "Strongly agree"
            },
            {
              value: "Agree",
              text: "Agree"
            },
            {
              value: "Disagree",
              text: "Disagree"
            },
            {
              value: "StronglyDisagree",
              text: "Strongly disagree"
            }
          ]
        }) }}

      </div>
    
      <div class="app-controls">
        <span class="govuk-error-message">
          [error_message]
        </span>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            
            <div class="app-button--outline app-button--fake-button">
                <input id="selected_answer-5" name="selected_answer" type="radio" value="Neutral" class="visually-hidden">
                <label class="govuk-label govuk-radios__label" for="selected_answer-5">
                    This doesn’t apply to me
                </label>
            </div>

          </div>
          <div class="govuk-grid-column-one-half app-controls__next">
            {{ govukButton({
              text: "[button_text]",
              classes: "app-button",
              type: "submit"
            }) }}
          </div>
        </div>
      </div>
    </form>
  </main> 

{% endblock %}