{% set pageName = 'start' %}

{% extends "_base.njk" %}

{% block main %}

  <div class="govuk-width-container app-site-width-container">
    
    {% include "_phasebanner.njk" %}
    
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Home: Discover your skills and careers",
          href: "/"
        },
        {
          text: "See job categories"
        }
      ]
    }) }}      
    
  </div>

  <div class="govuk-width-container govuk-!-margin-bottom-9">
  
    <main id="content" role="main">
  
      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
            
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-5 govuk-!-margin-top-6">Job categories</h1>

          <p class="govuk-body-l">Answer statements about what you enjoy, and discover job categories tailored to you</p>

          <p class="govuk-inset-text">
            This assessment will take 5 minutes
          </p>

          <p>On the following screens, we will ask you to agree or disagree with statements about yourself.</p>
          <p>We’ll use your answers to suggest types of work you might be suited to.</p>
          <p>Some of the statements are very similar. This is to help us make sure your results are more reliable. Try to answer quickly, even if you think you’ve seen a statement before.</p>
          <p>You will get more accurate results if you answer honestly and respond to every statement. But you can use the option called ‘this doesn’t apply to me’ if you are finding it hard to respond to a particular statement.            </p>
          
          {{ govukButton({
            text: "Start now",
            href: "https://__FunctionAppName__.azurewebsites.net/q/1?assessmentType=short",
            classes: "govuk-button--start app-button govuk-!-margin-top-5"
          }) }}
          
        </div>

      </div>

    </main>

  </div> 
  
{% endblock %}