.app-assessment-picker {
  border-bottom: 4px solid $govuk-border-colour;
  margin: 0 0 govuk-spacing(4) 0;
  @include govuk-media-query($from: desktop) {
    margin: 0 0 govuk-spacing(6) 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.app-assessment-picker__title {
  background-color: $app-turquoise;
  padding: govuk-spacing(3);

  .govuk-heading-l {
    color: govuk-colour('white');
    margin: 0;
  }
}

.app-assessment-picker__body {
  background-color: govuk-colour('grey-4');
  padding: govuk-spacing(3);

  .govuk-inset-text {
    margin-top: 0;
    border-color: $app-turquoise;
  }
}
