.app-assessment-picker {
  border-bottom: 4px solid $govuk-border-colour;
  margin: 0 0 govuk-spacing(4) 0;
  @include govuk-media-query($from: desktop) {
    margin: 0 0 govuk-spacing(6) 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.app-assessment-picker__title {
  background-color: $app-turquoise;
  padding: govuk-spacing(5) govuk-spacing(3);
  position: relative;

  .govuk-heading-l {
    color: govuk-colour('white');
    margin: 0;
  }

  .govuk-tag--coming-soon {
    position: absolute;
    top: 50%;
    right: 15px;
    z-index: 3;
    transform: translateY(-50%);
  }
}

.app-assessment-picker__body {
  background-color: govuk-colour('grey-4');
  padding: govuk-spacing(3);

  .govuk-inset-text {
    margin-top: 0;
    border-color: $app-turquoise;
    margin-bottom: govuk-spacing(3);
  }
}

.app-assessment-picker--inactive {
  position: relative;

  &:after {
    position: absolute;
    display: block;
    height: calc(100% + 4px);
    width: 100%;
    background: govuk-colour('black');
    opacity: 0.5;
    content: '';
    top: 0;
    left: 0;
  }
}
