.app-assessment-picker {
  padding: govuk-spacing(6) 0;
}

.app-assessment-picker__title {
  background-color: govuk-colour("turquoise");
  padding: govuk-spacing(3);
  .govuk-heading-l {
    color: govuk-colour("white");
    margin: 0;
  }
}

.app-assessment-picker__body {
  background-color: govuk-colour("grey-4");
  padding: govuk-spacing(3);
  .govuk-inset-text {
    margin-top: 0;
    border-color: govuk-colour("turquoise");
  }
}