.ncs-progress {
  float: left;
  width: 100%;
  margin-bottom: govuk-spacing(6);
}

.ncs-progress__bar {
  height: 10px;
  border-radius: 5px;
  width: calc(100% - 100px);
  float: right;
  top: 16px;
  position: relative;
}

.ncs-progress__bar[value]::-webkit-progress-bar {
  background-color: $govuk-border-colour;
  border-radius: 5px;
}

.ncs-progress__bar[value]::-webkit-progress-value {
  background-color: govuk-colour('green');
  border-radius: 0; 
}

.ncs-progress__count {
  color: $govuk-secondary-text-colour;
  display: block;
  font-family: sans-serif;
  width: 100px;
  float: left;

  b {
    color: govuk-colour('green');
    margin-bottom: 4px;
    display: block;
  }
}
