.app-question {
  @include govuk-media-query($from: desktop) {
    margin-top: govuk-spacing(7);
    clear: both;

    .govuk-fieldset__legend {
      width: 50%;
      float: left;
      padding-right: 2em;
    }

    .govuk-radios {
      width: 50%;
      float: right;
      text-align: center;
      position: relative;

      &:before {
        position: absolute;
        left: -1em;
        height: 100%;
        width: 1px;
        content: '';
        display: block;
        border-left: 1px solid govuk-colour('black');
      }
    }

    .govuk-radios__item {
      position: relative;
      padding-left: 0;
      width: 20%;
      text-align: center;

      &:last-child {
        margin-right: 0;
      }
    }

    .govuk-radios__input + .govuk-radios__label {

      &::before,
      &::after {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .govuk-radios__label {
      padding-top: 3em;
    }
  }
}

.app-controls {
  .app-button, 
  .app-button--outline {
    @include govuk-media-query($from: desktop) {
      min-width: 240px;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .app-button--outline {
    display: block;
    text-align: center;
    margin-bottom: govuk-spacing(3);
    line-height: 1;
    padding-top: 10px;
    padding-bottom: 7px;
    @include govuk-media-query($from: desktop) {
      display: inline-block;
    }
  }

  .govuk-error-message {
    @include govuk-media-query($from: desktop) {
      text-align: right;
    }
  }
}
