.app-resume-panel {
  margin: 0 0 govuk-spacing(4) 0;
  @include govuk-media-query($from: desktop) {
    margin: 0 0 govuk-spacing(6) 0;
  }
  .govuk-form-group {
    margin: 0 0 govuk-spacing(3) 0; 
  }
}
