.app-results__col-header {
  border-bottom: 1px solid $govuk-border-colour;

  span {
    @include govuk-media-query($from: desktop) {
      float: right;
    }
  }
}

.app-result {
  margin-bottom: govuk-spacing(6);
}

.app-results__cta {
  .govuk-button {
    margin-bottom: govuk-spacing(3);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.app-result__body {
  background: govuk-colour('grey-4');
  padding: govuk-spacing(4);

  .govuk-button {
    margin-bottom: 0;
  }
}

.app-result__header {
  background: govuk-colour('grey-3');
  padding: govuk-spacing(3) govuk-spacing(4);
  margin: 0;
}

.app-results-cta {
  background: $app-turquoise;
  color: govuk-colour('white');
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(4);

  .govuk-heading-m,
  .govuk-body {
    color: govuk-colour('white');
  }

}

.app-page--results {
  @include govuk-media-query($from: desktop) {

    .app-save-panel {
      margin-top: -120px;
      background: govuk-colour('white');
      padding: govuk-spacing(3);
      border-top: 3px solid govuk-colour('black');

      .govuk-heading-m {
        border: 0;
        padding-top: 0;
        margin-bottom: govuk-spacing(2);
      }
    }
  }
}
