.app-results__col-header {
  border-bottom: 1px solid $govuk-border-colour;
  span {
    float: right;
  }
}

.app-results__cta {
  .govuk-button {
    margin-bottom: govuk-spacing(3);
    &:last-child {
      margin-bottom: 0;
    }
  }
}