.app-sidebar {
  @include govuk-media-query($from: desktop) {
    .govuk-heading-m {
      border-top: 8px solid $app-turquoise;
      padding-top: 20px;
    }
  }

  .govuk-body {
    margin-bottom: 0;
  }
}
