.app-your-reference {
  background-color: govuk-colour('grey-4');
  padding: govuk-spacing(3);
  border-left: 10px solid $app-turquoise;
}

.app-your-reference__code {
  margin-top: govuk-spacing(1);
  margin-bottom: 0;
}

.app-your-reference__meta p {  
  margin-bottom: 0;

  &:last-child {
    @include govuk-media-query($from: desktop) {
      text-align: right;
    }
  }
}
