$govuk-global-styles: true;

@import 'node_modules/govuk-frontend/all';

$app-purple: #8c0052;

@import 'progress';
@import 'masthead';
@import 'assessmentpicker';
@import 'question';
@import 'controls';

.govuk-header__container {
  border-bottom-color: $app-purple;
}

.app-page--home {
  .govuk-header__container {
    border-bottom-color: govuk-colour('white');
  }
}

.app-button {
  background-color: $app-purple;
  color: govuk-colour('white');
}

.app-button--outline {
  border: 2px solid $app-purple;
  color: govuk-colour('black');
  background-color: govuk-colour('white');
  box-shadow: none;
  padding-bottom: 8px;
  &:focus,
  &:hover {
    background-color: $app-purple;
    color: govuk-colour('white')
  }
}

