@import 'node_modules/govuk-frontend/all';

.app-masthead, 
.app-masthead__title {
  background: transparent;
  color: govuk-colour('black');
}

.govuk-phase-banner, 
.govuk-breadcrumbs,
.app-save-panel, 
.app-resume-panel, 
.app-back-to-top, 
.govuk-footer {
  display: none;
}